In [1]:
import pandas as pd

In [5]:
weather = pd.read_csv(
    "https://raw.githubusercontent.com/zonination/weather-us/master/nyc.csv",
    parse_dates=["Date"],
).drop("Unnamed: 0", axis=1)
nyc = pd.read_csv(
    "../NYCArrests.csv",
    usecols=[
        "ARREST_DATE",
        "PD_DESC",
        "OFNS_DESC",
        "ARREST_BORO",
        "AGE_GROUP",
        "PERP_SEX",
        "PERP_RACE",
        "Latitude",
        "Longitude",
    ],
    parse_dates=["ARREST_DATE"],
    cache_dates=True,
)
sp500 = pd.read_csv("../S&P500.csv", parse_dates=["Date"])

In [16]:
to_merge1 = sp500[["Date", "Close"]]
to_merge2 = (
    nyc["ARREST_DATE"]
    .value_counts()
    .reset_index(name="Num Arrests")
    .rename({"index": "Date"}, axis=1)
)
to_merge3 = weather[["Date", "Mean.TemperatureF", "PrecipitationIn", "Events", 'season']]

In [17]:
daily = to_merge1.merge(to_merge2).merge(to_merge3)

In [18]:
daily["Year"] = daily["Date"].dt.year
daily["Week"] = daily["Date"].dt.week
daily["Month"] = daily["Date"].dt.month

In [19]:
weekly = daily.groupby(["Year", "Week"]).mean().reset_index()

In [38]:
daily.to_csv('daily.csv')

In [33]:
daily['Events'].str.split('-').explode().unique()

array(['Rain', nan, 'Fog', 'Snow', 'Thunderstorm'], dtype=object)

In [50]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

fig = make_subplots(specs=[[{"secondary_y": True}]])
fig.add_trace(
    go.Scatter(
        x=weekly["Date"],
        y=weekly["Num Arrests"],
        name="Number of Crimes",
        mode="markers",
    ),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(x=weekly["Date"], y=weekly["Close"], name="Close S&P500"),
    secondary_y=True,
)
fig.add_trace(
    go.Scatter(x=weekly["Date"], y=weekly["Mean.TemperatureF"], name="Close S&P500"),
    secondary_y=True,
)

# Add figure title
fig.update_layout(title_text="Crimes and Stock Market over Time")

# Set x-axis title
fig.update_xaxes(title_text="Years")

# Set y-axes titles
fig.update_yaxes(title_text="<b>Number of Crimes</b>", secondary_y=False)
fig.update_yaxes(title_text="<b>Dollars</b>", secondary_y=True)

fig.show()

KeyError: 'Date'

1 degree = 111 km

.1 degree = 11.1 km

.01 degree = 1.11 km

.001 degree = .111 km  = 111m

In [57]:
precision = 1000
nyc["RoundedLat"] = (nyc["Latitude"] * precision).round() / precision
nyc["RoundedLong"] = (nyc["Longitude"] * precision).round() / precision

In [58]:
to_graph = (
    nyc.groupby(["RoundedLat", "RoundedLong"]).size().reset_index(name="Count").dropna()
)
to_graph = to_graph[to_graph["RoundedLat"] < 41]
to_graph.columns

Index(['RoundedLat', 'RoundedLong', 'Count'], dtype='object')

In [67]:
to_graph

       RoundedLat  RoundedLong  Count
0          40.499      -74.244      4
1          40.499      -74.243      8
2          40.499      -74.242      6
3          40.499      -74.241      2
4          40.499      -74.240      2
5          40.500      -74.245      5
6          40.500      -74.244     11
7          40.500      -74.240      1
8          40.500      -74.239     10
9          40.500      -74.238      2
10         40.500      -74.237      2
11         40.500      -74.236      7
12         40.501      -74.249      5
13         40.501      -74.246      1
14         40.501      -74.245      2
15         40.501      -74.243      3
16         40.501      -74.242      6
17         40.501      -74.241      4
18         40.501      -74.240      4
19         40.501      -74.239     18
20         40.501      -74.238      1
21         40.501      -74.237      1
22         40.502      -74.254      1
23         40.502      -74.249      7
24         40.502      -74.248      5
25         40.502      -74.245      1
26         40.502      -74.244      1
27         40.502      -74.243      4
28         40.502      -74.242      1
29         40.502      -74.241      3
...           ...          ...    ...
50126      40.908      -73.853      3
50127      40.909      -73.903      8
50128      40.909      -73.902      3
50129      40.909      -73.901      2
50130      40.909      -73.900      2
50131      40.909      -73.899      1
50132      40.909      -73.897     37
50133      40.909      -73.853      8
50134      40.909      -73.852      1
50135      40.910      -73.904      3
50136      40.910      -73.903     14
50137      40.910      -73.901      5
50138      40.910      -73.900     10
50139      40.910      -73.899     10
50140      40.910      -73.898     21
50141      40.910      -73.897    211
50142      40.911      -73.903      6
50143      40.911      -73.902      4
50144      40.911      -73.901      4
50145      40.911      -73.900      6
50146      40.911      -73.899      2
50147      40.911      -73.898     12
50148      40.911      -73.897    103
50149      40.912      -73.903     12
50150      40.912      -73.901      2
50151      40.912      -73.900      1
50152      40.912      -73.899      3
50153      40.912      -73.898     12
50154      40.913      -73.903     47
50155      40.915      -73.909   5322

[50156 rows x 3 columns]

In [13]:
"pk.eyJ1IjoiYXNkZmZhIiwiYSI6ImNqeTdwMHRjNDAxc3ozZHBob240ZWMwd3UifQ.7YZDqSZ_EZx7-78pnR0v_g"

'pk.eyJ1IjoiYXNkZmZhIiwiYSI6ImNqeTdwMHRjNDAxc3ozZHBob240ZWMwd3UifQ.7YZDqSZ_EZx7-78pnR0v_g'

In [54]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import jupyterlab_dash

In [55]:
external_stylesheets = ["https://codepen.io/chriddyp/pen/bWLwgP.css"]
viewer = jupyterlab_dash.AppViewer()

In [135]:
weekly

     Year  Week        Close  Num Arrests  Month
0    2006     1  1275.297485      1189.75    1.0
1    2006     2  1289.538013      1198.40    1.0
2    2006     3  1276.847534      1181.75    1.0
3    2006     4  1270.581982      1171.00    1.0
4    2006     5  1276.519971      1166.00    1.6
5    2006     6  1263.244018      1226.00    2.0
6    2006     7  1279.002002      1109.80    2.0
7    2006     8  1288.230041      1186.50    2.0
8    2006     9  1288.478003      1117.40    2.6
9    2006    10  1277.252002      1241.20    3.0
10   2006    11  1299.441992      1176.80    3.0
11   2006    12  1302.393994      1215.20    3.0
12   2006    13  1298.569995      1112.20    3.0
13   2006    14  1303.968042      1212.80    4.0
14   2006    15  1290.107483      1194.25    4.0
15   2006    16  1305.056006      1112.20    4.0
16   2006    17  1307.117993      1177.40    4.0
17   2006    18  1312.905981      1207.20    5.0
18   2006    19  1313.962012      1206.20    5.0
19   2006    20  1277.147998      1115.40    5.0
20   2006    21  1266.051977      1183.00    5.0
21   2006    22  1275.972473      1134.25    5.5
22   2006    23  1259.104028      1155.20    6.0
23   2006    24  1239.773999      1183.00    6.0
24   2006    25  1244.509985      1157.40    6.0
25   2006    26  1255.765991      1015.00    6.0
26   2006    27  1272.664978      1107.25    7.0
27   2006    28  1255.369995      1154.00    7.0
28   2006    29  1244.116016      1113.60    7.0
29   2006    30  1267.988013      1126.80    7.0
..    ...   ...          ...          ...    ...
648  2018    23  2763.484082       729.40    6.0
649  2018    24  2781.325977       684.40    6.0
650  2018    25  2761.660010       747.60    6.0
651  2018    26  2714.888037       655.00    6.0
652  2018    27  2734.090027       690.50    7.0
653  2018    28  2790.326026       722.60    7.0
654  2018    29  2805.984033       738.20    7.0
655  2018    30  2825.941992       753.80    7.0
656  2018    31  2819.964063       739.00    7.6
657  2018    32  2850.681982       736.20    8.0
658  2018    33  2834.215967       726.00    8.0
659  2018    34  2862.700000       721.00    8.0
660  2018    35  2902.189990       679.60    8.0
661  2018    36  2883.762512       719.75    9.0
662  2018    37  2892.619922       690.80    9.0
663  2018    38  2912.295996       750.60    9.0
664  2018    39  2913.776025       554.80    9.0
665  2018    40  2912.142041       691.00   10.0
666  2018    41  2809.189990       709.20   10.0
667  2018    42  2781.295996       691.60   10.0
668  2018    43  2703.385986       680.20   10.0
669  2018    44  2699.810010       681.00   10.4
670  2018    45  2779.097998       645.80   11.0
671  2018    46  2723.289990       615.20   11.0
672  2018    47  2653.777466       631.50   11.0
673  2018    48  2719.475977       683.60   11.0
674  2018    49  2704.865051       711.75   12.0
675  2018    50  2635.212012       681.40   12.0
676  2018    51  2496.619971       603.00   12.0
677  2018    52  2448.342529       489.00   12.0

[678 rows x 5 columns]

In [58]:
def update_weekly(year, value):
    weekly_by_year = weekly.loc[
        weekly["Year"] == year,
        ["Week", "Close", "Num Arrests", "Month", "Mean.TemperatureF"],
    ]
    fig = go.Figure()
    fig = make_subplots(specs=[[{"secondary_y": True}]])

    fig.add_trace(
        go.Scatter(
            x=weekly_by_year["Week"],
            y=weekly_by_year["Num Arrests"],
            name="Number of Crimes",
            mode="markers",
            yaxis="y1",
        ),
        secondary_y=False,
    )
    fig.add_trace(
        go.Scatter(
            x=weekly_by_year["Week"],
            y=weekly_by_year[value],
            name="S&P500 Close Price",
            yaxis="y2",
        ),
        secondary_y=True,
    )
    fig.update_xaxes(
        ticktext=[
            "January",
            "March",
            "June",
            "August",
            "October",
            "December",
        ],  # 1, 3, 5, 7, 9, 11
        tickvals=[1, 10, 20, 30, 40, 50],
    )
    fig.update_layout(
        xaxis={"zeroline": False},
        title=year,
        transition={"duration": 1000},
        yaxis1={"title": "Number of Arrests"},
        yaxis2={"title": "S&P"},
    )
    print(year)
    return fig